<section>
    <figure (click)="wishlistAPI.addItem(product)">
        <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.25 14V10.75H14V9.25H17.25V6H18.75V9.25H22V10.75H18.75V14H17.25ZM10 18L6.825 15.15C5.625 14.0667 4.59583 13.1 3.7375 12.25C2.87917 11.4 2.17083 10.6 1.6125 9.85C1.05417 9.1 0.645833 8.375 0.3875 7.675C0.129167 6.975 0 6.24167 0 5.475C0 3.90833 0.525 2.60417 1.575 1.5625C2.625 0.520833 3.93333 0 5.5 0C6.36667 0 7.19167 0.179167 7.975 0.5375C8.75833 0.895833 9.43333 1.40833 10 2.075C10.5667 1.40833 11.2417 0.895833 12.025 0.5375C12.8083 0.179167 13.6333 0 14.5 0C15.9167 0 17.1042 0.429167 18.0625 1.2875C19.0208 2.14583 19.6167 3.15 19.85 4.3C19.55 4.18333 19.25 4.09583 18.95 4.0375C18.65 3.97917 18.3583 3.95 18.075 3.95C16.3917 3.95 14.9583 4.5375 13.775 5.7125C12.5917 6.8875 12 8.31667 12 10C12 10.8667 12.175 11.6875 12.525 12.4625C12.875 13.2375 13.3667 13.9 14 14.45C13.6833 14.7333 13.2708 15.0958 12.7625 15.5375C12.2542 15.9792 11.8167 16.3667 11.45 16.7L10 18Z" fill="#EF233C"/>
            </svg>            
    </figure>
</section>