<section>
    <h2>Product highlights</h2>
    <ul>
        <li *ngFor="let product of productAPI.products$ | async">
            <product-item [product]="product"></product-item>
        </li>
    </ul>
</section>