@import 'abstracts/mixins';

section {
    cursor: pointer;
    padding: 30px;
}

ul {
    display: grid;
    list-style: none;
    grid-gap: 10px 15px;
    padding: 0;

    @include respond-to('xsmall') {
        grid-template-columns: 350px;
    }

    @include respond-to('small') {
        grid-template-columns: 350px 350px;
    }

    @include respond-to('medium') {
        grid-template-columns: 350px 350px 350px;
    }

    @include respond-to('medium') {
        grid-template-columns: 350px 350px 350px;
    }
}