<section>
    <figure (click)="wishlistAPI.toggleSidePanel()"> 
        <svg width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 26L12.565 24.6876C10.0917 22.3938 8.05 20.4134 6.44 18.7462C4.83 17.0791 3.54667 15.5894 2.59 14.2769C1.63333 12.9645 0.9625 11.7763 0.5775 10.7121C0.1925 9.64802 0 8.57208 0 7.48431C0 5.35607 0.705833 3.57663 2.1175 2.14598C3.52917 0.715325 5.27333 0 7.35 0C8.68 0 9.91083 0.319236 11.0425 0.957708C12.1742 1.59618 13.16 2.51842 14 3.72442C14.98 2.44748 16.0183 1.5075 17.115 0.904502C18.2117 0.3015 19.39 0 20.65 0C22.7267 0 24.4708 0.715325 25.8825 2.14598C27.2942 3.57663 28 5.35607 28 7.48431C28 8.57208 27.8075 9.64802 27.4225 10.7121C27.0375 11.7763 26.3667 12.9645 25.41 14.2769C24.4533 15.5894 23.17 17.0791 21.56 18.7462C19.95 20.4134 17.9083 22.3938 15.435 24.6876L14 26Z" fill="#EF233C"/>
            </svg>                      
    </figure>
</section>


    