<section>
    <div class="qty">
        <button (click)="wishlistAPI.decreaseQuantity(wishItem.item.getID())">-</button>
        <span>{{wishItem.quantity}}</span>
        <button (click)="wishlistAPI.increaseQuantity(wishItem.item.getID())">+</button>
    </div>
    <h5>{{wishItem.item.name}}</h5>
</section>