section {
    display: flex;
}

button {
    background: #D90429;
    border: 0;
    border-radius: 4px 8px;
    color: #fff;
    padding: 4px 8px;
}

span {
    color: #fff;
    font-weight: bold;
    margin: 0 10px;
}

h5 {
    margin: 5px 0 0 15px;
}