@import 'abstracts/mixins';

section {
    display: flex;
    height: 100vh;
}
.overlay {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    width: 60%;

    @include respond-to('medium-plus') {
        display: block;
    }
}

.list {
    background: #8D99AE;
    border-left: 2px solid #777;
    overflow: hidden;
    padding: 20px;

    @include respond-to('xsmall') {
        width: 100%;
    }

    @include respond-to('medium-plus') {
        width: 40%;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 20px;
}