<section>
    <div class="overlay"></div>
    <div class="list">
        <h2>Wishlist</h2>
        <ul>
            <li *ngFor="let wish of wishlistAPI.items$ | async">
                <wish-list-item [wishItem]="wish"></wish-list-item>
            </li>
        </ul>
    </div>
</section>