<section>
    <header>
        <figure>
            <img src="{{product.image}}" alt="">
        </figure>
    </header>
    <article>
        <h4>{{product.name}}</h4>
        <h5>€{{product.price}}</h5>
    </article>
    <nav>
        <ul>
            <li><h6>Tijdelijk uitverkocht</h6></li>
            <li><wish-list-add [product]="product"></wish-list-add></li>
        </ul>
    </nav>
</section>