<main>
    <page-header></page-header>
    <section>
        <product-list></product-list>
        <ng-container *ngIf="wishlistAPI.sidePanelOpen$ | async">
            <wish-list-overview></wish-list-overview>
        </ng-container>
    </section>
</main>