main {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    position: relative;
}

product-list {
    display: flex;
    flex: 1;
    flex-basis: 50%;
}

side-panel {
    display: flex;
}

wish-list-overview {
    position: absolute;
    width: 100%;
}