header {
    background: #2b2d42;
    color: #fff;
    display: flex;
    height: 65px;
    justify-content: space-between;
}

#company-info {
    display: flex;

    h1 {
        margin-top: 12px;
    }
}

figure {
   img {
    border-radius: 50%;
   }
}
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    padding-right: 25px;
}

li {
    align-items: center;
    display: flex;
}