<header>
    <div id="company-info">
        <figure>
            <img src="http://picsum.photos/40/40" alt="Logo">
        </figure>
        <h1>Dax shop</h1>
    </div>
    <nav>
        <ul>
            <li>
                <wish-list-toggle></wish-list-toggle>
            </li>
            <li>
                <wish-list-badge></wish-list-badge>
            </li>
        </ul>
    </nav>
</header>